/* reset */
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Roboto;
}

:root {
    --one:#c6ae2e;
    --two:#a57941;
    --three:#834453;
    --dark-text:#47252d;
}

body {
    background-color:var(--three);
    overflow-x:hidden;
}

p {
    margin-bottom:1%;
}

/* specific fonts */
.intro {
    font-family: Roboto;
    font-size:300%;
    font-weight:300;
    color: var(--two);
    margin:0;
}

.big1, .big2 {
    font-family:'Roboto Condensed';
    font-size:600%;
}

.big1 {
    color:var(--one);
    font-weight:600;
    margin-bottom:-2%;
}

.big2 {
    font-weight:300;
    color:var(--two);
}

/* nav */
nav {
    display:flex;
    justify-content:space-between;
    margin:2vh auto 0;
}
.nav-right {
    display:flex;
    justify-content:right;
}
.nav-right a {
    display:block;
    padding:10%;
    transition:padding 0.2s, color 0.2s;
    font-size:120%;
}
.nav-right a:hover {
    padding-bottom:12%;
    padding-top:8%;
    color:#fff;
}
nav a {
    color:var(--one);
    text-decoration:none;
}
.hash {
    color:var(--two);
}
#k {
    font-size:200%;
    color:var(--two);
    padding:10%;
    display:block;
    transition:letter-spacing 0.2s, color 0.2s;
    font-family:'Roboto Mono';
    font-weight:100;
}
#k:hover {
    letter-spacing:3px;
    color:#fff;
}
.kc {
    color:var(--one);
    font-weight:500;
}

/* main */
main {
    margin:20vh auto 10vh;
}

@media only screen and (max-width:800px) {
    main, nav {width:100%};
}

@media only screen and (min-width:802px) {
    main, nav {width:75%};
}

/* headings */

h1 {
    font-size:400%;
    margin-top:30vh;
    color:var(--one);
}

h1 span {
    color:var(--two);
    font-weight:300;
}

/* box */

.box {
    background-color:var(--two);
    padding:3%;
    font-size:120%;
    line-height:140%;
    color:var(--dark-text);
}

/* project */

.projectContainer {
    display:flex;
    margin:1rem 0 0;
    align-items:center;
}

.projectBox {
    
    flex-grow:1;
    flex-basis:35%;
    left:-3rem;
    position:relative;
}

.projectTitle {
    font-size:400%;
    font-family:'Roboto Mono', monospace;
    color:var(--one);
    line-height:100%;
    margin-bottom:1rem;
    text-align:right;
}

.projectDesc {
    background-color:var(--two);
    color:var(--dark-text);
    padding:3%;
    line-height:150%;
}

.projectImg {
    box-shadow: 10px 10px var(--two);
    flex-grow:2;
    flex-basis:65%;
}

.projectIcons {
    margin-top:0.5rem;
    display:flex;
    justify-content:right;
    gap:5px;
}

.iconButton {
    display:flex;
    background-color:var(--one);
    padding:5px 15px;
    align-items:center;
    color:var(--three);
    text-decoration:none;
    transition:background-color 0.2s;
}

.iconButton:hover {
    background-color:#fff;
}

.iconButton span {
    margin-left:5px;
    font-family:'Roboto Mono', monospace;
}

.tag {
    background-color:var(--one);
    color:var(--three);
    display:inline-block;
    font-family:'Roboto Mono', monospace;
    padding:0 0.2rem;
    margin-right:0.2rem;
}

/* footer */

footer {
    height: 30vh;
}